<app-header titulo="Inputs y Forms"></app-header>

<ion-content>


  <ion-list>

    <ion-list-header>nombre: {{nombre || 'sin Nombre'}} </ion-list-header>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="nombre"></ion-input>
    </ion-item>
  </ion-list>

  <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">

    <ion-list>

      <ion-list-header>
        <ion-label>Form template: valido {{formulario.valid}} </ion-label>

      </ion-list-header>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input name="email" type="email" [(ngModel)]="usuario.email" required
          pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input name="password" type="password" [(ngModel)]="usuario.password" required></ion-input>
      </ion-item>

    </ion-list>

    <ion-button [disabled]="formulario.invalid" type="submit" expand="full" color="electron">Enviar</ion-button>

  </form>
</ion-content>